.framed-image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.framed-image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.framed-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

/* Alternative organic blob shapes */
.framed-image-wrapper.blob-1 {
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
}

.framed-image.blob-1 {
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
}

.framed-image-wrapper.blob-2 {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}

.framed-image.blob-2 {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}

.framed-image-wrapper.blob-3 {
    border-radius: 50% 50% 30% 70% / 30% 70% 50% 50%;
}

.framed-image.blob-3 {
    border-radius: 50% 50% 30% 70% / 30% 70% 50% 50%;
}